FROM {{os.image}}:{{os.tag}}

# Set needed env vars
ENV SCRIPTS_DIR=/scripts \
    TEMPLATES_DIR=/templates \
    GOSS_VER=v0.3.16 \
    PATH=/goss:$PATH

RUN set -eux; \
    \
    mkdir -p $SCRIPTS_DIR/entities; \
    mkdir /goss; \
    apk --update --no-cache \
        add curl bash jq git \
        python3 py3-pip \
    ; \
    apk --update --no-cache --virtual=goss-dependencies add curl ca-certificates; \
    pip install jinja2-cli[yaml,toml,xml]; \
    curl -fsSL https://goss.rocks/install | GOSS_DST=/goss sh; \
    apk del goss-dependencies;

COPY ./ /usr/local/docker/

RUN set -eux; \
    \
    ln -sf /usr/local/docker/docker-gen /usr/local/bin/docker-gen; \
    ln -sf /usr/local/docker/docker-jinja2-scripts/entities/render.py $SCRIPTS_DIR/entities/render.py;

CMD ["docker-gen"]
