FROM {{os.image}}:{{os.tag}}

{%- set php_version = '.'.join(php.version.split('.')[:2]) %}
{%- set php_version_major = php.version.split('.')[0] %}
{%- set extension_list = [
'php-bcmath',
'php-bz2',
'php-ctype',
'php-curl',
'php-dom',
'php-gd',
'php-gmp',
'php-gettext',
'php-iconv',
'php-intl',
'php-mbstring',
'php-opcache',
'php-openssl',
'php-pcntl',
'php-pdo',
'php-pdo_mysql',
'php-phar',
'php-posix',
'php-session',
'php-sodium',
'php-xml',
'php-zip',
'php-zlib',
'php-xdebug',
] %}
{%- if php_version_major < 8 %}
{%- set tmp = extension_list.append('php-json') %}
{%- endif %}
{%- if php.variant == 'fpm' %}
{%- set tmp = extension_list.append('php-fpm') %}
{%- endif %}

LABEL \
    maintainer="Tobias Trozowski <tobias@trozowski.com>" \
    org.opencontainers.image.version="{{php.version}}" \
    org.opencontainers.image.title="PHP {{php_version}} {% if php.variant == 'fpm' %}FPM{%- else %}CLI{%- endif %}" \
    org.opencontainers.image.source="https://gitlab.com/tobias-trozowski/docker-gen" \
    org.opencontainers.image.documentation="https://gitlab.com/tobias-trozowski/docker-gen" \
    org.opencontainers.image.base.name="{{os.image}}:{{os.tag}}" \
    org.opencontainers.image.vendor="Tobias Trozowski" \
    org.opencontainers.image.authors="Tobias Trozowski <tobias@trozowski.com>"

ENV TZ=UTC \
    PHP_ENTRYPOINT_QUIET_LOGS="1" \
    {%- if php.variant == 'fpm' %}
    FPM_ENVSUBST_TEMPLATE_DIR="/usr/local/docker/etc/php8/php-fpm.d" \
    FPM_ENVSUBST_OUTPUT_DIR="/etc/php8/php-fpm.d/" \
    FPM_MEMORY_LIMIT=128M \
    FPM_XDEBUG_MODE=off \
    FPM_XDEBUG_START_WITH_REQUEST=default \
    {%- endif %}
    PHP_TIMEZONE=UTC \
    PHP_MEMORY_LIMIT=128M \
    PHP_XDEBUG_MODE=off \
    PHP_XDEBUG_IDEKEY=PHPSTORM \
    PHP_XDEBUG_CLIENT_HOST=host.docker.internal \
    PHP_XDEBUG_CLIENT_PORT=9000 \
    PHP_XDEBUG_START_WITH_REQUEST=default

COPY --from=composer:2.2.9 /usr/bin/composer /usr/bin/composer
COPY docker-php-* /usr/local/docker/

# install packages from https://github.com/codecasts/php-alpine
RUN set -eux; \
    \
    ln -snf /usr/share/zoneinfo/${TZ} /etc/localtime; \
    echo ${TZ} > /etc/timezone; \
    \
    apk --update --no-cache add \
        libintl \
        git \
    ; \
    apk --update --no-cache --virtual .build_deps add gettext; \
    cp -a /usr/bin/envsubst /usr/local/bin/envsubst; \
    apk del --no-network .build_deps; \
    \
    ln -s /usr/local/docker/docker-entrypoint.d /docker-entrypoint.d; \
    ln -sf /usr/local/docker/docker-php-entrypoint /docker-php-entrypoint; \
    {%- if php.variant == 'fpm' %}
    sed -i -e 's! php ! '"php-fpm"' !g' /usr/local/docker/docker-php-entrypoint; \
    {%- endif %}
    \
    mkdir -p /usr/local/docker/docker-entrypoint.d; \
    ln -sf /usr/local/docker/docker-php-envsubst /usr/local/docker/docker-entrypoint.d/10-docker-php-envsubst.sh; \
    \
    wget -qO /etc/apk/keys/php-alpine.rsa.pub https://php.hernandev.com/key/php-alpine.rsa.pub; \
    echo "https://php.hernandev.com/v{{os.version}}/php-{{php_version}}" >> /etc/apk/repositories; \
    \
    apk --update --no-cache add \
        tzdata \
        php \
        {{ extension_list|join(' \\\n        ') }} \
        ; \
    \
    apk --update --no-cache --virtual .build_deps add dpkg; \
    update-alternatives --install /usr/bin/php php /usr/bin/php{{php_version_major}} 0; \
    update-alternatives --install /usr/bin/phar phar /usr/bin/phar{{php_version_major}} 0; \
    {%- if php.variant == 'fpm' %}
    update-alternatives --install /usr/bin/php-fpm php-fpm /usr/sbin/php-fpm{{php_version_major}} 0; \
    {%- endif %}
    apk del --no-network .build_deps; \
    rm -f /usr/bin/lsphp8;

RUN set -eux; \
    \
    mkdir -p /usr/local/docker/etc/php{{php_version_major}}/conf.d/; \
    {% if php.variant == 'fpm' %}mkdir -p /usr/local/docker/etc/php8/php-fpm.d/;{%- endif %} \
    { \
        echo 'memory_limit = ${PHP_MEMORY_LIMIT}'; \
        echo 'error_reporting = E_ALL'; \
        echo 'display_errors = On'; \
        echo 'display_startup_errors = On'; \
        echo 'date.timezone = ${PHP_TIMEZONE}'; \
        echo 'apc.ttl = 7200'; \
        echo 'apc.gc_ttl = 3600'; \
        echo 'realpath_cache_ttl = 600'; \
        echo 'opcache.max_accelerated_files = 25000'; \
        echo 'opcache.file_update_protection = 0'; \
        echo 'opcache.validate_timestamps = 0'; \
        echo 'opcache.interned_strings_buffer = 16'; \
    } | tee /usr/local/docker/etc/php{{php_version_major}}/conf.d/zz-general.ini.template; \
    { \
        echo 'xdebug.mode = ${PHP_XDEBUG_MODE}'; \
        echo 'xdebug.idekey = ${PHP_XDEBUG_IDEKEY}'; \
        echo 'xdebug.start_with_request = ${PHP_XDEBUG_START_WITH_REQUEST}'; \
        echo 'xdebug.client_host = ${PHP_XDEBUG_CLIENT_HOST}'; \
        echo 'xdebug.client_port = ${PHP_XDEBUG_CLIENT_PORT}'; \
    } | tee /usr/local/docker/etc/php{{php_version_major}}/conf.d/zz-xdebug.ini.template; \
    {%- if php.variant == 'fpm' %}
    { \
        echo '#!/usr/bin/env sh'; \
        echo; \
        echo 'PHP_ENVSUBST_TEMPLATE_DIR="$FPM_ENVSUBST_TEMPLATE_DIR" PHP_ENVSUBST_OUTPUT_DIR="$FPM_ENVSUBST_OUTPUT_DIR" /usr/local/docker/docker-php-envsubst'; \
    } | tee /usr/local/docker/docker-fpm-envsubst; \
    chmod +x /usr/local/docker/docker-fpm-envsubst; \
    ln -sf /usr/local/docker/docker-fpm-envsubst /usr/local/docker/docker-entrypoint.d/10-docker-fpm-envsubst.sh; \
    { \
        echo '[global]'; \
        echo 'daemonize = no'; \
        echo; \
        echo '[www]'; \
        echo 'listen = 0.0.0.0:9000'; \
        echo 'php_value[memory_limit] = ${FPM_MEMORY_LIMIT}'; \
        echo 'php_value[xdebug.mode] = ${FPM_XDEBUG_MODE}'; \
        echo 'php_value[xdebug.start_with_request] = ${FPM_XDEBUG_START_WITH_REQUEST}'; \
    } | tee /usr/local/docker/etc/php8/php-fpm.d/zz-docker.conf.template; \
    {%- endif %}
    \
    php --version;
{% if php.variant == 'fpm' %}
STOPSIGNAL SIGQUIT

EXPOSE 9000
{%- endif %}

ENTRYPOINT ["sh", "/docker-php-entrypoint"]
{% if php.variant == 'fpm' %}
CMD ["php-fpm"]
{%- else %}
CMD ["php", "-a"]
{%- endif %}
